@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-image: linear-gradient(to top,rgb(216, 214, 222),rgb(228, 175, 255),rgb(89, 243, 220));
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-image: linear-gradient(to top,rgb(216, 214, 222),rgb(228, 175, 255),rgb(89, 243, 220));
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-image: linear-gradient(to top,rgb(132, 129, 143),rgb(77, 162, 180),rgb(89, 243, 220));
  }
  
  .stats-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .stats-card:hover {
    transform: translateY(-5px);
  }
  
  .stats-title {
    font-size: 1.2em;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .stats-value {
    font-size: 2em;
    color: #007BFF;
    margin-bottom: 5px;
  }
  
  .stats-description {
    font-size: 0.9em;
    color: #666666;
  }
  

#num-contributions, #total-raised, #num-games, #unfunded-games{
    font-size: 50px;
}


#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

h1{
    color: darkblue;
}
